<mat-card class="guide-card">
  <mat-card-content>
    <div class="guide-header">
      <mat-icon class="guide-title-icon">explore</mat-icon>
      <h2>Πως να υπολογίσεις τις συνολικές σου αποδοχές</h2>
    </div>

    <div class="guide-steps">
      <div class="step-item">
        <div class="step-badge">1</div>
        <div class="step-text">
          <strong>Ορισμός Παραμέτρων</strong>
          <p>
            Έχεις μεγαλύτερο ωρομίσθιο ή διαφορετικές ασφαλιστικές κρατήσεις?
          </p>
          <mat-divider></mat-divider>

          <p>
            Άλλαξαν οι νομοθεσίες αλλά η ιστοσελίδα δείχνει παλιές μετρικές?
          </p>
          <mat-divider></mat-divider>

          <p>Πληκτρολόγησέ τις τιμές στα παραπάνω πεδία.</p>
        </div>
      </div>

      <div class="step-item">
        <div class="step-badge">2</div>
        <div class="step-text">
          <strong>Υπολογισμός Ωρών Βάρδιας</strong>
          <p>
            Πάτα στις μέρες που έχεις δουλέψει στο ημερολόγιο και κάνε εισαγωγή
            τις ώρες βάρδιας σου.
          </p>
          <mat-divider></mat-divider>

          <p>
            Έχεις σπαστό ωράριο? Μπορείς εύκολα να βάλεις ξεχωριστά τις ώρες σου
            πατώντας το
            <mat-icon class="inline-icon">add</mat-icon> κουμπί κατά την
            εισαγωγή.
          </p>
        </div>
      </div>

      <div class="step-item">
        <div class="step-badge">3</div>
        <div class="step-text">
          <strong>Γρήγορες Κινήσεις</strong>
          <p>
            Σύρε μια μέρα/κελί του ημερολογίου σε μία άλλη για να κάνεις γρήγορη
            αντιγραφή.
          </p>
          <mat-divider></mat-divider>
          <p>
            Πάτα το κουμπί
            <mat-icon class="inline-icon warn">clear</mat-icon> για να
            διαγράψεις τις βάρδιες ολόκληρου του μήνα.
          </p>
          <mat-divider></mat-divider>
          <p>
            Δουλεύεις 9:00-5:00? Πάτα το κουμπί
            <mat-icon class="inline-icon">event_repeat</mat-icon> για να
            συμπληρώσεις αυτόματα.
          </p>
        </div>
      </div>

      <div class="step-item">
        <div class="step-badge">4</div>
        <div class="step-text">
          <strong>Περισσότερες Πληροφορίες</strong>
          <p>
            Πάτα το κουμπί κάτω δεξιά για επιπρόσθετες ρυθμίσεις και
            πληροφορίες.
          </p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
