<div class="modal-container">
  <h3>Πληροφορίες</h3>
  <mat-divider></mat-divider>
  <div>
    <p>Κατώτατος Μισθός</p>
    <a
      href="https://ypergasias.gov.gr/ergasiakes-scheseis/syllogikes-ergasiakes-sxeseis/katotatos-misthos/"
      target="_blank"
    >
      https://ypergasias.gov.gr/ergasiakes-scheseis/syllogikes-ergasiakes-sxeseis/katotatos-misthos/
    </a>
  </div>
  <mat-divider></mat-divider>
  <div>
    <p>Ασφαλιστικές Εισφορές</p>
    <a
      href="https://ypergasias.gov.gr/koinoniki-asfalisi/asfalismenoi-eisfores-kai-paroches/asfalistikes-eisfores/"
      target="_blank"
    >
      https://ypergasias.gov.gr/koinoniki-asfalisi/asfalismenoi-eisfores-kai-paroches/asfalistikes-eisfores/
    </a>
  </div>
  <mat-divider></mat-divider>
  <div>
    <p>Επώνυμη καταγγελία στην Επιθεώρηση Εργασίας</p>
    <a
      href="https://www.gov.gr/ipiresies/ergasia-kai-asphalise/epitheorese-ergasias/eponume-kataggelia"
      target="_blank"
    >
      https://www.gov.gr/ipiresies/ergasia-kai-asphalise/epitheorese-ergasias/eponume-kataggelia
    </a>
    <div class="space-between"></div>
    <a
      href="https://www.hli.gov.gr/ergasiakes-scheseis/ergazomenoi-ergasiakes-scheseis/katangelia2/"
      target="_blank"
    >
      https://www.hli.gov.gr/ergasiakes-scheseis/ergazomenoi-ergasiakes-scheseis/katangelia2/
    </a>
  </div>
  <mat-divider></mat-divider>
  <div>
    <p>Δεν ξέρεις το ωρομίσθιό σου? Μπες στο myergani:</p>
    <a
      href="https://www.gov.gr/ipiresies/epikheirematike-drasterioteta/elektronikos-phakelos-epikheireses/enemerose-ergazomenon-myergani"
      target="_blank"
    >
      https://www.gov.gr/ipiresies/epikheirematike-drasterioteta/elektronikos-phakelos-epikheireses/enemerose-ergazomenon-myergani
    </a>
  </div>
  <mat-divider></mat-divider>
</div>
