<div class="modal-container">
  <!-- <h3>Edit Day</h3> -->
  <h3>{{ date | date: "fullDate" }}</h3>
  <div class="range-slider">
    <!-- <div class="slider-label-row">
      <div>
        Start: <strong>{{ formatShiftTime(startTimeHours) }}</strong>
      </div>
      <div>
        End: <strong>{{ formatShiftTime(endTimeHours) }}</strong>
      </div>
    </div> -->

    <!-- <div class="slider-track" [style.background]="getRangeBackground()">
      <input
        type="range"
        min="0"
        [max]="MAX_SHIFT_HOURS"
        step="0.5"
        [(ngModel)]="startTimeHours"
        (input)="onStartChange()"
      />

      <input
        type="range"
        min="0"
        [max]="MAX_SHIFT_HOURS"
        step="0.5"
        [(ngModel)]="endTimeHours"
        (input)="onEndChange()"
      />
    </div> -->

    <div class="wrapper">
      <div class="container">
        <div #sliderStart class="slider-start">
          Start: <strong>{{ formatShiftTime(startTimeHours) }}</strong>
        </div>

        <div #sliderTrack class="slider-track"></div>
        <input
          #inputSliderStart
          type="range"
          [min]="0"
          [max]="MAX_SHIFT_HOURS"
          step="0.5"
          [(ngModel)]="startTimeHours"
          (ngModelChange)="valueChanged()"
        />
        <input
          #inputSliderEnd
          type="range"
          [min]="0"
          [max]="MAX_SHIFT_HOURS"
          [(ngModel)]="endTimeHours"
          step="0.5"
          (ngModelChange)="valueChanged()"
        />
        <div #sliderEnd class="slider-end">
          End: <strong>{{ formatShiftTime(endTimeHours) }}</strong>
        </div>
        <!-- <div #workedHours class="hours-summary">
          Worked: {{ getWorkedHours() | number: "1.1-1" }}h
        </div> -->
      </div>
    </div>

    <p class="hours-summary">
      You Worked: {{ getWorkedHours() | number: "1.1-1" }}h
    </p>

    <mat-checkbox [(ngModel)]="isHoliday" style="margin-top: 8px"
      >Is this day a holiday?</mat-checkbox
    >

    <div class="action-row">
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="save()">Save</button>
    </div>
  </div>
</div>
