<div class="modal-container">
  <!-- <h3>Edit Day</h3> -->
  <h3>{{ date | date: "fullDate" }}</h3>
  <div class="range-slider">
    <div class="interval-list">
      @for (interval of intervals; let i = $index; track i) {
        <div class="interval-row">
          <button mat-raised-button (click)="openTimePicker(i, 'start')">
            {{ formatTimeLabel(interval.start) }}
          </button>
          <button mat-raised-button (click)="openTimePicker(i, 'end')">
            {{ formatTimeLabel(interval.end) }}
          </button>
          <!-- <mat-form-field>
            <mat-label>Start</mat-label>

            <mat-select
              [value]="interval.start"
              (valueChange)="updateInterval(i, 'start', $event)"
            >
              @for (hour of hourOptions; track hour) {
                <mat-option
                  [value]="hour"
                  [class.end-hour]="interval.end === hour"
                  >{{ formatTimeLabel(hour) }}</mat-option
                >
              }
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field>
            <mat-label>End</mat-label>

            <mat-select
              [value]="interval.end"
              (valueChange)="updateInterval(i, 'end', $event)"
            >
              @for (hour of hourOptions; track hour) {
                <mat-option
                  [value]="hour"
                  [class.start-hour]="interval.start === hour"
                >
                  {{ formatTimeLabel(hour) }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field> -->
          <span class="interval-duration"
            >{{ interval.end - interval.start | number: "1.1-1" }} ω</span
          >

          <button
            class="remove-button"
            mat-icon-button
            color="warn"
            type="button"
            (click)="removeInterval(i)"
          >
            <mat-icon>backspace</mat-icon>
          </button>
        </div>

        <mat-divider class="interval-divider"></mat-divider>
      }
    </div>

    <div class="add-button-container">
      <button
        class="add-button"
        mat-fab
        matTooltip="Προσθήκη"
        color="primary"
        type="button"
        (click)="addInterval()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="summary-row">
      <p class="total-hours">
        Συνολικές Ώρες: {{ totalHours | number: "1.1-1" }}
      </p>
      <p *ngIf="intervalError" class="error-text">{{ intervalError }}</p>
    </div>

    <mat-checkbox
      color="primary"
      [(ngModel)]="isHoliday"
      style="margin-top: 8px"
    >
      Είναι αυτή η μέρα αργία?
    </mat-checkbox>

    <div class="action-row">
      <button mat-button (click)="cancel()">Ακύρωση</button>
      <button mat-flat-button color="primary" (click)="save()">
        Αποθήκευση
      </button>
    </div>
  </div>
</div>
