<!-- Calendar Section -->
<mat-card class="calendar-card">
  <mat-card-content>
    <!-- Month Navigation -->
    <div class="month-header">
      <button
        class="change-month-button"
        mat-icon-button
        (click)="previousMonth()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h2 class="month-title">{{ getMonthYearDisplay() }}</h2>
      <button class="change-month-button" mat-icon-button (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <!-- <button
        class="quick-action-button"
        mat-icon-button
        matTooltip="Εφαρμογή βάρδιας 5-9"
        color="primary"
        (click)="apply5to9Shift()"
      >
        <mat-icon>event_repeat</mat-icon>
      </button> -->
      <button
        class="quick-action-button clear-button"
        mat-icon-button
        matTooltip="Διαγραφή Όλων"
        color="error"
        (click)="clearAllValues()"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <!-- Day Headers -->
    <div class="calendar-grid" cdkDropListGroup>
      <div class="day-header" *ngFor="let day of weekDays">
        <span [class.weekend]="day === 'Κυρ' || day === 'Σαβ'">{{ day }}</span>
      </div>

      <div
        *ngFor="let dayData of daysArray; let i = index"
        class="day-cell"
        [class.other-month]="!isDayInCurrentMonth(dayData.date)"
        [class.holiday]="dayData.isHoliday && isDayInCurrentMonth(dayData.date)"
        [class.weekend]="
          (dayData.date.getDay() === 0 || dayData.date.getDay() === 6) &&
          isDayInCurrentMonth(dayData.date)
        "
        (click)="
          isDayInCurrentMonth(dayData.date) && onCellClick(dayData, $event)
        "
        cdkDropList
        [cdkDropListData]="dayData"
        (cdkDropListDropped)="onCellDrop($event)"
        [cdkDropListDisabled]="!isDayInCurrentMonth(dayData.date)"
      >
        <div
          class="cell-drag-overlay"
          cdkDrag
          [cdkDragData]="dayData"
          [cdkDragDisabled]="
            !isDayInCurrentMonth(dayData.date) || !dayData.hours
          "
        >
          <div *cdkDragPreview class="drag-preview">
            {{ dayData.hours ? (dayData.hours | number: "1.1-1") + "h" : "" }}
          </div>

          <div *cdkDragPlaceholder class="drag-placeholder"></div>
        </div>

        <div class="day-number" *ngIf="isDayInCurrentMonth(dayData.date)">
          {{ dayData.date.getDate() }}
        </div>

        <div class="day-content" *ngIf="isDayInCurrentMonth(dayData.date)">
          <span class="hours-display">
            {{ dayData.hours ? (dayData.hours | number: "1.1-1") + "h" : "—" }}
          </span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
