<div class="modal-container">
  <!-- <h3>Edit Day</h3> -->
  <h3>{{ date | date: "fullDate" }}</h3>
  <div class="range-slider">
    <div class="interval-list">
      @for (interval of intervals; let i = $index; track i) {
        <div class="interval-row">
          <mat-form-field>
            <mat-label>Start</mat-label>

            <mat-select
              [value]="interval.start"
              (valueChange)="updateInterval(i, 'start', $event)"
            >
              @for (hour of hourOptions; track hour) {
                <mat-option [value]="hour">{{
                  formatTimeLabel(hour)
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>End</mat-label>

            <mat-select
              [value]="interval.end"
              (valueChange)="updateInterval(i, 'end', $event)"
            >
              @for (hour of hourOptions; track hour) {
                <mat-option [value]="hour">{{
                  formatTimeLabel(hour)
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <span class="interval-duration"
            >{{ interval.end - interval.start | number: "1.1-1" }}h</span
          >

          <button
            class="remove-button"
            mat-icon-button
            color="warn"
            type="button"
            (click)="removeInterval(i)"
          >
            <mat-icon>backspace</mat-icon>
          </button>
        </div>

        <mat-divider class="interval-divider"></mat-divider>
      }
    </div>

    <div class="add-button-container">
      <button
        class="add-button"
        mat-fab
        color="primary"
        type="button"
        (click)="addInterval()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="summary-row">
      <p>Total hours: {{ totalHours | number: "1.1-1" }}h</p>
      <p *ngIf="intervalError" class="error-text">{{ intervalError }}</p>
    </div>

    <mat-checkbox [(ngModel)]="isHoliday" style="margin-top: 8px">
      Is this day a holiday?
    </mat-checkbox>

    <div class="action-row">
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="save()">Save</button>
    </div>
  </div>
</div>
