@import "../../../styles/colors";

.modal-container {
  width: 500px;
  box-sizing: border-box;
  padding: 32px;
}
.mat-form-field {
  width: 100%;
}

h3 {
  margin: 0;
}

p {
  margin: 4px 0 0 0;
  color: rgba(0, 0, 0, 0.7);
}

.slider-group {
  margin-top: 16px;
}

.slider-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 0.95rem;
}

.hours-summary {
  position: relative;
  margin: 24px 0 0 0;
  // transform: translate(-50%);
  // background-color: red;
  // width: 200%;
  // position: absolute;
  text-align: center;
  font-size: 1.2rem;
  white-space: nowrap; /* Prevents text from awkwardly wrapping when constrained */
  padding: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.slider-start,
.slider-end {
  position: absolute;
  // white-space: nowrap; /* Prevents text from awkwardly wrapping when constrained */
  padding: 0;
  min-width: 90px;
}

.slider-end {
  // text-align: right;
  top: 70px; /* Adjust as needed to position below the slider */
}

.action-row {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 18px;
}

.range-slider {
  width: 100%;
}

.manual-time-inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.slider-label-row {
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
}

.error-text {
  color: $error-light;
  font-size: 0.9rem;
  margin-top: 8px;
}

@media (max-width: 560px) {
  .modal-container {
    width: 100%;
    padding: 24px;
  }

  .manual-time-inputs {
    grid-template-columns: 1fr;
  }
}

.interval-row {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: start;
}

.interval-duration {
  // display: inline-block;
  text-wrap: nowrap;
  padding-top: 12px;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

.add-button-container {
  display: flex;
  justify-content: center;
  .add-button {
    width: 42px;
    height: 42px;
  }
}
.interval-divider {
  margin-bottom: 8px;
}

.interval-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  max-height: 300px; /* Adjust as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}
.total-hours {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
::ng-deep .mat-mdc-option.start-hour {
  /* Changes the text and icon color */
  background-color: #c1c5ff !important;

  /* Optional: Changes the background color on hover if it's invalid */
  // &:hover {
  //   background-color: #e2e4fe !important;
  // }
}

::ng-deep .mat-mdc-option.end-hour {
  /* Changes the text and icon color */
  background-color: #ffc1c1 !important;

  /* Optional: Changes the background color on hover if it's invalid */
  // &:hover {
  //   background-color: #e2e4fe !important;
  // }
}
