<mat-toolbar color="primary" class="toolbar">
  <h1 class="title">Payroll Calculator</h1>
</mat-toolbar>

<div class="container">
  <!-- Settings Section -->
  <div class="constrained-width">
    <mat-card class="settings-card">
      <mat-card-content class="settings-content">
        <mat-form-field class="input-field">
          <mat-label>Base Hourly Rate (€)</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="baseHourlyRate"
            (change)="onBaseRateChange()"
            step="0.01"
          />
          <!-- <mat-icon
          matSuffix
          matTooltip="Your standard hourly wage before taxes, bonuses, or overtime are applied."
          matTooltipPosition="above"
          class="info-icon"
        >
          info
        </mat-icon> -->
          <mat-hint class="info-hint"
            >Your standard hourly wage before taxes, bonuses, or
            overtime.</mat-hint
          >
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Holiday Multiplier</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="holidayMultiplier"
            (change)="onMultiplierChange()"
            step="0.1"
          />
          <mat-hint class="info-hint"
            >Your country's standard holiday multiplier. In Greece, Sundays and
            holidays are paid at 1.75x rate.</mat-hint
          >
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Base Tax Rate (%)</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="baseTaxRate"
            (change)="onTaxRateChange()"
            step="0.01"
          />
          <mat-hint class="info-hint"
            >The percentage of your income that goes to taxes for public
            insurance.</mat-hint
          >
        </mat-form-field>

        <div class="income-display">
          <div class="income-section">
            <h3>Monthly Summary</h3>
            <p class="summary-item">
              Regular Hours: <strong>{{ breakdown.regularHours }}</strong>
            </p>
            <p class="summary-item">
              Holiday Hours: <strong>{{ breakdown.holidayHours }}</strong>
            </p>
            <p class="summary-item">
              Night Hours: <strong>{{ breakdown.nightHours }}</strong>
            </p>
            <mat-divider></mat-divider>
            <p class="summary-item">
              Regular Pay:
              <strong>{{ formatCurrency(breakdown.regularPay) }}</strong>
            </p>
            <p class="summary-item after-tax">
              (After Tax) Regular Pay:
              <strong>{{
                formatCurrency(breakdown.regularPay * (1 - baseTaxRate / 100))
              }}</strong>
            </p>
            <p class="summary-item">
              Holiday Pay:
              <strong>{{ formatCurrency(breakdown.holidayPay) }}</strong>
            </p>
            <p class="summary-item after-tax">
              (After Tax) Holiday Pay:
              <strong>{{
                formatCurrency(breakdown.holidayPay * (1 - baseTaxRate / 100))
              }}</strong>
            </p>
            <p class="summary-item">
              Night Premium Pay:
              <strong>{{ formatCurrency(breakdown.nightPay) }}</strong>
            </p>
            <p class="summary-item after-tax">
              (After Tax) Night Premium Pay:
              <strong>{{
                formatCurrency(breakdown.nightPay * (1 - baseTaxRate / 100))
              }}</strong>
            </p>
            <mat-divider></mat-divider>
            <h2 class="total-income">
              Gross Total: {{ formatCurrency(monthlyIncome) }}
            </h2>
            <h2 class="total-income">
              Net Total:
              {{ formatCurrency(monthlyIncome * (1 - baseTaxRate / 100)) }}
            </h2>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <app-guide></app-guide>
  </div>
  <app-calendar></app-calendar>
</div>
