<mat-toolbar color="primary" class="toolbar">
  <h1 class="title">Payroll Calculator</h1>
</mat-toolbar>

<div class="container">
  <!-- Settings Section -->
  <div class="constrained-width">
    <mat-card class="settings-card">
      <mat-card-content class="settings-content">
        <mat-form-field class="input-field">
          <mat-label>Ωρομίσθιο (€)</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="baseHourlyRate"
            (change)="onBaseRateChange()"
            step="0.01"
          />
          <!-- <mat-icon
          matSuffix
          matTooltip="Your standard hourly wage before taxes, bonuses, or overtime are applied."
          matTooltipPosition="above"
          class="info-icon"
        >
          info
        </mat-icon> -->
          <mat-hint class="info-hint"
            >Το σταθερό ωρομίσθιο σας πριν τους φόρους.</mat-hint
          >
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Πολλαπλασιαστής Αργιών</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="holidayMultiplier"
            (change)="onMultiplierChange()"
            step="0.1"
          />
          <mat-hint class="info-hint"
            >Τις Κυριακές και τις αργίες, το ωρομίσθιό σας πολλαπλασιάζεται επί
            1.75.</mat-hint
          >
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Πολλαπλασιαστής Βραδινών Ωρών</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="nightMultiplier"
            (change)="onTaxRateChange()"
            step="0.01"
          />
          <mat-hint class="info-hint"
            >Τις βραδινές ώρες (10:00 μμ εώς 6:00 πμ), το ωρομίσθιό σας
            πολλαπλασιάζεται επί 1.25.</mat-hint
          >
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Ποσοστό Μεικτών Κρατήσεων (%)</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="baseTaxRate"
            (change)="onTaxRateChange()"
            step="0.01"
          />
          <mat-hint class="info-hint"
            >Το ποσοστό του μεικτού μισθού σας που καταλαβάνεται σε ιατρική
            περίλθαψη και ασφάλιση.</mat-hint
          >
        </mat-form-field>

        <div class="income-display">
          <div class="income-section">
            <h3>Μηνιαίος Υπολογισμός</h3>
            <p class="summary-item">
              Συνολικές Ώρες:
              <strong>{{ breakdown.regularHours }} ώρες</strong>
            </p>
            <p class="summary-item">
              Εκ των οποίων ήταν Αργίες/Κυριακές:
              <strong>{{ breakdown.holidayHours }} ώρες</strong>
            </p>
            <p class="summary-item">
              Εκ των οποίων ήταν Βραδινές:
              <strong>{{ breakdown.nightHours }} ώρες</strong>
            </p>
            <mat-divider></mat-divider>
            <p class="summary-item">
              Βασικές Εισφορές Ωρών:
              <strong>{{ formatCurrency(breakdown.regularPay) }}</strong>
            </p>
            <p class="summary-item after-tax">
              (Μετά από Φόρους) Βασικές Εισφορές Ωρών:
              <strong class="net-pay">{{
                formatCurrency(breakdown.regularPay * (1 - baseTaxRate / 100))
              }}</strong>
            </p>
            <p class="summary-item">
              Μπόνους από Αργίες/Κυριακές:
              <strong>{{ formatCurrency(breakdown.holidayPay) }}</strong>
            </p>
            <p class="summary-item after-tax">
              (Μετά από Φόρους) Μπόνους από Αργίες/Κυριακές:
              <strong class="net-pay">{{
                formatCurrency(breakdown.holidayPay * (1 - baseTaxRate / 100))
              }}</strong>
            </p>
            <p class="summary-item">
              Μπόνους από Βραδινές:
              <strong>{{ formatCurrency(breakdown.nightPay) }}</strong>
            </p>
            <p class="summary-item after-tax">
              (Μετά από Φόρους) Μπόνους από Βραδινές:
              <strong class="net-pay">{{
                formatCurrency(breakdown.nightPay * (1 - baseTaxRate / 100))
              }}</strong>
            </p>
            <mat-divider></mat-divider>
            <h2 class="total-income">
              Μεικτά: {{ formatCurrency(monthlyIncome) }}
            </h2>
            <h2 class="total-income net-pay">
              Καθαρά:
              {{ formatCurrency(monthlyIncome * (1 - baseTaxRate / 100)) }}
            </h2>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <app-guide></app-guide>
  </div>
  <app-calendar></app-calendar>
</div>
